<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/app.css" >

    <title>friendlyTime</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    <div id="container" style="padding-top:300px">
        <div class="buttonContainer" style="margin:0 auto">
            <button type="button" class="btn btn-primary btn-md" id="clearEvents">Clear all events</button>
        </div>
        <div class="buttonContainer" style="margin:50px auto">
            <button type="button" class="btn btn-primary btn-md" id="clearOneEvent">Clear One event</button>
        </div>
    </div>
</body>

<script src="js/clearAllEvents.js"></script>
</html>